[submodule "Packages/com.easytoolkit.core"]
	path = Packages/com.easytoolkit.core
	url = git@github.com:easytoolkit-dev/com.easytoolkit.core.git
[submodule "Packages/com.easytoolkit.inspector"]
	path = Packages/com.easytoolkit.inspector
	url = git@github.com:easytoolkit-dev/com.easytoolkit.inspector.git
[submodule "Packages/com.easytoolkit.serialization"]
	path = Packages/com.easytoolkit.serialization
	url = git@github.com:easytoolkit-dev/com.easytoolkit.serialization.git
[submodule "Documents/CodingStandards"]
	path = Documents/CodingStandards
	url = git@github.com:fuyouawa/coding-standards.git
[submodule "Packages/com.easytoolkit.logging"]
	path = Packages/com.easytoolkit.logging
	url = git@github.com:easytoolkit-dev/com.easytoolkit.logging.git
